<div class="page">
    <nav class="menuPokemon">
        <div class="subMenu before">
            <i class="fa-solid fa-circle-down fa-rotate-90"></i>anterior
        </div>
        <div class="subMenu home">
            <i class="fa-solid fa-house"></i>pokedex
        </div>
        <div class="subMenu after">
            posterior<i class="fa-solid fa-circle-down fa-rotate-270"></i>
        </div>
    </nav>
    <article class="details">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/134.png" alt="pokemonImage">
        <div class="pokemonDetails">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure ipsam tenetur facere error obcaecati mollitia commodi repudiandae impedit, aliquid consequatur et ut veritatis exercitationem libero? Neque inventore saepe quisquam.</p>
            <div class="evolutions">
                Evolution's pictures
            </div>
        </div>
        
    </article>
</div>
